absl-py==0.15.0
aiohttp==3.8.3
aiosignal==1.2.0
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
bagpy==0.5
beautifulsoup4==4.11.1
bitstring==3.1.9
black==22.1.0
bleach==4.1.0
boto3==1.20.45
botocore==1.23.45
branca==0.6.0
cachetools==4.2.4
catkin==0.7.18
catkin-pkg==0.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
cloudpickle==1.6.0
colorama==0.4.5
-e git+https://github.com/zhefu0604/Imitation_Learning_Controller.git@421baccc36ff439f941f857fb315aa5e284203a8#egg=cs285&subdirectory=cs285
cvxopt==1.3.0
cycler==0.11.0
Cython==0.29.27
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
distro==1.8.0
docutils==0.18.1
entrypoints==0.4
exceptiongroup==1.0.3
executing==0.8.2
fasteners==0.17.3
filelock==3.8.0
flatbuffers==1.12
folium==0.13.0
frozenlist==1.3.1
gast==0.4.0
genmsg==0.5.12
genpy==0.6.14
glfw==2.5.0
gnupg==2.3.1
google==3.0.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.34.1
gym==0.18.3
h5py==3.1.0
idna==3.3
-e git+https://github.com/AboudyKreidieh/il-traffic.git@f3f95728c3fc253c7a8460a70a2eaa5786a235cb#egg=il_traffic
imageio==2.15.0
importlib-metadata==4.10.1
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==6.9.0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lockfile==0.12.2
luigi==3.0.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
mujoco-py==2.1.2.14
multidict==6.0.2
mypy-extensions==0.4.3
mysql-connector-python==8.0.27
mysql-connector-python-rf==2.2.2
nbclient==0.5.10
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
numpy==1.21.6
oauthlib==3.1.1
onnx==1.9.0
onnx-tf==1.8.0
onnxruntime==1.10.0
opt-einsum==3.3.0
-e git+https://github.com/fywu85/pacc.git@17a86c4a129dccca21ba37f8d5644bfe414ea3b4#egg=pacc
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.0
pluggy==1.0.0
prodict==0.8.18
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-spy==0.3.14
py3rosmsgs==1.18.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.15.0
pycryptodomex==3.15.0
pygame==2.0.1
pyglet==1.5.15
Pygments==2.11.2
pynverse==0.1.4.4
pyparsing==3.0.7
pyrsistent==0.18.1
pyserial==3.5
pytest==7.2.0
python-daemon==2.3.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
ray==0.8.4
redis==4.3.4
requests==2.27.1
requests-oauthlib==1.3.0
rosbag==1.15.11
roscpp==1.15.11
rosgraph==1.15.11
rosgraph-msgs==1.11.3.post2
roslib==1.14.7.post0
rospkg==1.4.0
rospy==1.15.11
rsa==4.8
s3transfer==0.5.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.1
Send2Trash==1.8.0
setuptools-scm==7.0.5
six==1.15.0
soupsieve==2.3.2.post1
stable-baselines3==1.0
stack-data==0.1.4
std-msgs==0.5.13.post0
tabulate==0.8.10
tenacity==6.3.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.4.1
tensorflow==2.5.0
tensorflow-addons==0.15.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
tomli==2.0.1
torch==1.10.2
torchvision==0.11.3
tornado==6.1
tqdm==4.60.0
traitlets==5.1.1
-e git+https://github.com/zhefu0604/trajectory_training.git@fc56333ce2e1e0c8529bcd6bc52cfe04a55a6467#egg=trajectory
typeguard==2.13.3
typing-extensions==4.1.0
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.12.1
yarl==1.8.1
zipp==3.7.0
